




/* Add Course Button Formatting */

.wbdv-add-course-button {
    position: absolute;
    color: red;
}


.wbdv-sticky-add-course-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: red;
}

.wbdv-add-course-button-header{
    position: relative;
    top: 0px;
    right: 10px;
}

 /* Header and Body Formatting for Page Layout */
.wbdv-sticky-header {
    position: fixed;
    top: 0px;
    background-color: steelblue;
    color: white;
    left: 0px;
    right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px;
}

.wbdv-header-spacing {
    left: 20px;
    right: 20px;
}


body {
    padding-top: 90px;
}

/* Component Spacing */

.wbdv-nudge-15px-down {
    position: relative;
    top: 15px ;
}

.icon-spacing{
    margin-right: 20px;
}

.wbdv-row-header-color{
    background-color: whitesmoke;
}

.wbdv-course-manger-heading-nudge{
    bottom: -7px;
}

.wbdv-course-manger-heading-hamburger-nudge{
    left: 20px;
    top:7px;
}

.fa fa-align-justify fa-2x{
    top:7px;
}


.table {
    width: 85%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


